@model TicketBox.Models.Session

@{
    ViewData["Title"] = "Create Session";
}

<h1>Создать</h1>

<h4>Сеанс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label">Фильм</label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HallId" class="control-label">Зал</label>
                <select asp-for="HallId" class="form-control" asp-items="ViewBag.HallId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Время начала</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Sessions" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }